export MLFLOW_TRACKING_URI="https://xxx"
export AWS_ACCESS_KEY_ID="xxx"
export AWS_SECRET_ACCESS_KEY="xxx"
export MLFLOW_LOGGED_MODEL="s3://xxx"
export BACKEND_STORE_URI="postgresql://xxx"
export MLFLOW_EXPERIMENT_NAME="getaround-price-prediction"